<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Upload Information</title>
</head>

<body>
    <div>
        <input type="file" name="files" id="files" multiple>
        <input type="button" id="uploadBtn" value="Upload">
    </div>

    <script type="text/javascript" src="./dist/bundle.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-firestore.js"></script>
</body>

</html>